# Backend ignores
backend/__pycache__


# Frontend ignores
*.beam
*.ez
frontend/build
frontend/erl_crash.dump
frontend/manifest.toml

# Added automatically by Lustre Dev Tools
frontend/.lustre
frontend/dist
